.container-4 {
  background-color: #FFFFFF;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .side-menu {
    width: 200px;
    height: 100%;
    border-right: 2px solid rgb(235, 235, 235);
    position: fixed;

    .logo {
      height: 20%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 75%;
      }
    }

    .menu {
      height: 65%;

      ul {
        li {
          list-style: none;
          font-size: 16px;
          font-weight: bold;
          margin: 5px 0 5px 25px;
          padding: 8px 0 8px 8px;
          cursor: pointer;
        }
      }
    }

    .social-media {
      height: 15%;
      display: flex;
      flex-direction: column;
      align-items: center;

      i {
        font-size: 20px;
        margin: 0 5px;
        cursor: pointer;
      }

      button {
        background-color: #97BF0F;
        font-size: 14px;
        text-decoration: none;
        color: #eee;
        padding: 7px 15px;
        border-radius: 20px;
        font-weight: bold;
        border: none;
        margin: 15px 0;
      }
    }
  }
}

.selection {
  color: white;
  background-color: #97BF0F;
}

.content {
  margin-left: 200px;
}

// Sedans Area
.content {
  .selection-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 120px 0 0px;
    
    .title {
      font-size: 50px;
      font-weight: bold;
    }
    
    .subtitle {
      color: #B1B1B1;
      font-size: 14px;
      font-weight: bold;
      margin: 5px;
      padding-bottom: 20px;
    }

    .dots {
      border-bottom: 3px dotted rgb(219, 219, 219);
      width: 100px;
    }
  }

  .selection-content {
    margin: 25px auto 0;
    width: 80%;
    display: flex;
    flex-wrap: wrap;

    .car {
      width: 200px;
      display: flex;
      flex-direction: column;
      margin: 0 auto 5px;

      img {
        width: 80%;
        align-self: center;
      }

      .car-name {
        margin: 5px;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
      }

      .dots {
        border-bottom: 3px dotted rgb(219, 219, 219);
        width: 100px;
        margin: 15px auto;
      }

      .car-description {
        font-size: 10px;
        color: rgb(177, 177, 177);
        justify-content: center;
      }
    }

  }
}