.container {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-1 {
  background: url('../img/home.jpg');
  background-size: cover;
  background-position: center;
}

.bg-2 {
  background: url('../img/login.jpg');
  background-size: cover;
  background-position: center;
}

.bg-3 {
  background: url('../img/signup.jpg');
  background-size: cover;
  background-position: center;
}

.main-text {
  color: #eee;
  text-shadow: 1px 1px #262626;
  font-size: 5rem;
  font-family: 'Exo 2', sans-serif;
}

.main-button {
  margin: 15px;
  background-color: #97BF0F;
  font-size: 16px;
  text-decoration: none;
  color: #eee;
  padding: 10px 15px;
  border-radius: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 861px) {
  .main-text {
    font-size: 2.8rem;
  }
}
